.jumbotron-about {
  background-color: #012169;
  display: grid;
  height: 433px;
  grid-template-columns: 1fr; 
  padding: 2em; 
  gap: 10px; 
  justify-content: center;
  align-items: center;
}

.text-one-about{
  text-align: left;
  padding-left: 10px;
}

.text-one-about h1{
  color: white;
  display: inline;
  border-bottom: 4px solid #F0B323;
  
}

.text-one-about h2{
  padding-top: 50px; 
  color: #F0B323;
}

.text-one-about h3{
  color: white;
  font-style: italic;
}



.text-two-about p{
  color: white;
  padding: 5px;
}


@media screen and (min-width: 768px) {
  .jumbotron-about {
    grid-template-columns: 1fr 1fr;
  }
}
