@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.container {
  height: 91vh;
  padding: 0 20px;
  background-color: #0f1035;
}

.heading-one {
  padding: 20px;
}

.heading-one-title {
  color: #ccd6f6;
  font-size: 70px;
}

.heading-two {
  padding: 10px;
  padding-left: 120px;
}

.heading-one-connect {
  color: #8892b0;
}

.heading-one-title-login{
  color: #ccd6f6;
}

.text-description {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.login-button{
  padding: 10px 20px;
  border: 2px solid #000000;
  background-color: white;
}

.login-button:hover{
  color: white;
  border: 2px solid white;
  background-color: #0000 ;
}

.text-description-login {
  font-size: 12px;
  padding-top:5px;
  padding-bottom:5px ;
  color: #8892b0;
}

.wrap {
  display: flex;
  padding-top: 81px;
  padding-left: 120px;
}

@media screen and (max-width: 768px) {
  .wrap {
    padding-left: 0px;
    flex-direction: column;
  }
  .container {
    height: auto;
    width: auto;
    text-align: center;
  }

  .heading-one{
    padding-left: 20px;
  }

  .heading-one-title {
    color: white;
    font-size: 70px;
  }

  .heading-two {
    padding: 10px;
    padding-top: 20px;
    padding-left: 45px;
  }

  .heading-one-connect {
    color: #818181;
    font-size: 25px;
  }

  .text-description {
  font-size: 10px;
  color: white;
  font-weight: bold;
}
}
