header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 98%;
  padding: 0 20px;
  background-color: #0F1035;
  top: 0;
  font-weight: 500;
}

.header-center {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px; 
  height: 65px;
  object-fit: cover;
  margin: 0 20px; 
}

.header-center a {
  line-height: 65px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

.header-center a:hover {
  background-color: #365486;
}

@media screen and (max-width: 768px) {
  .header-center {
    justify-content: space-between;
    width: 100%;
    font-weight: normal;
  }

  .logo {
    margin: 10px 0; 
  }

  .header-center a {
    flex: 1;
    text-align: center;
    width: auto;
  }
}
