.jumbotron-statistic {
  padding: 2em;
}

.heading-statistic {
  margin-bottom: 20px;
  text-align: center;
}

.heading-statistic h1 {
  color: #012169;
  display: inline;
  border-bottom: 5px solid #f0b323;
}

.heading-statistic h3 {
  padding-top: 10px;
  color: #012169;
}

.heading-statistic p {
  color: rgb(38, 62, 83);
}

.chart-container {
  max-width: 600px; 
  height: 300px;    
  background-color: white;
  width: 100%;
  margin: auto;
}



