.statisik {
    background-color: #0a192f;
}

.container-statistic {
    padding: 20px; /* Ubah padding sesuai kebutuhan */
    color: white;
    text-align: center;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    display: inline;
    border-bottom: 4px solid #ff69b4;
}

.keterangan {
    margin-top: 10px;
}

.chart-container {
    margin-top: 30px;
   
}


@media (min-width: 768px) {
    .container-statistic {
        padding: 100px; 
    }
}
